<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="kr.heartbeat.mappers.notice">
		
		<!-- 공지사항 게시물 작성 -->
		<insert id="postNotice" parameterType="kr.heartbeat.vo.NoticeVO">
			insert into notice_tbl (email, nickname, title, content, post_date)
			 value (#{email}, #{nickname}, #{title}, #{content}, now());
		</insert>	
		<!-- 공지 전체 게시물 가져오기 -->
		<select id="getPost" parameterType="hashMap" resultType="kr.heartbeat.vo.NoticeVO">
			select * from notice_tbl 
			order by notice_id desc
			limit #{displayPost}, #{postNum}
			
		</select>
		<!-- 공지사항 관리자 게시물 목록 가져오기 -->
		<select id="getAdminNotice" resultType="kr.heartbeat.vo.NoticeVO">
			select * from notice_tbl 
			where email = 'admin' 
			order by notice_id desc
		</select>
		<!-- 공지사항 유저 게시물 목록 가져오기 -->
		<select id="getUserNotice" resultType="kr.heartbeat.vo.NoticeVO">
			select * from notice_tbl 
			where email not in ('admin')
			order by notice_id desc
			limit #{displayPost}, #{postNum}
		</select>
		<!-- 게시물 상세보기 -->
		<select id="getPostOne" parameterType="int" resultType="kr.heartbeat.vo.NoticeVO">
			select * from notice_tbl where notice_id = #{notice_id}
		</select>
		<!-- 게시물 수정 -->
		<update id="noticeModify" parameterType="kr.heartbeat.vo.NoticeVO">
			update notice_tbl 
			set title = #{title}, content = #{content} 
			where notice_id = #{notice_id}
		</update>
		<!-- 게시물 삭제 -->
		<delete id="noticeDelete" parameterType="int">
			delete from notice_tbl where notice_id = #{notice_id}
		</delete>
		<!-- 게시물 개수 -->
		<select id="getPostCount" resultType="int">
			select count(*)
			from notice_tbl
			where email not in ('admin')
		</select>
		<!-- 댓글 작성 -->
		<insert id="commentWrite" parameterType="kr.heartbeat.vo.NoticeCommentVO">
			insert into notice_comment_tbl (notice_id, email, nickname, comment, comment_date)
			value (#{notice_id}, #{email}, #{nickname},#{comment}, now())
		</insert>
		<!-- 댓글 목록 가져오기 -->
		<select id="getComment" parameterType="kr.heartbeat.vo.NoticeCommentVO" resultType="kr.heartbeat.vo.NoticeCommentVO">
			select * from notice_comment_tbl where notice_id = #{notiec_id} order by notice_comment_id desc
		</select>
		<!-- 댓글 수정 -->
		<update id="updateComment" parameterType="kr.heartbeat.vo.NoticeCommentVO">
			update notice_comment_tbl set comment = #{comment} where notice_comment_id = #{notice_comment_id}
		</update>
		<!-- 댓글 삭제 -->
		<delete id="commentDelete" parameterType="int">
			delete from notice_comment_tbl where notice_comment_id = #{notice_comment_id}
		</delete>
	
	</mapper>











