<!-- menu -->
<div class="wrap">
	<h1 class="logo"><a href="/Html/heartbeat/chart.html">HeartBeat</a></h1>
	<div class="userCnt">
		<div class="user" onclick="dropMenuShow();">
			<div class="image"><img src="/Html/img/profile/user.png" onerror=this.src="/Html/img/user.png" alt="닉네임"></div>
			<div class="name">닉네임최대여덟자</div>
		</div>
		<div class="dropMenu">
			<button type="button" class="btn-under-02" onclick="popLogoutShow();">로그아웃</button>
		</div>
	</div>
	<div class="menuCnt">
		<ul>
			<li class="item"><a href="/Html/admin/summary.html"><i class="fa-solid fa-house"></i>Summary</a></li>
			<li class="item"><a href="/Html/admin/member.html"><i class="fa-solid fa-users"></i>회원 리스트</a></li>
			<li class="item"><a href="/Html/admin/post.html"><i class="fa-solid fa-list-check"></i>게시글 확인</a></li>
			<li class="item"><a href="/Html/admin/comment.html"><i class="fa-solid fa-comments"></i>댓글 확인</a></li>
		</ul>
	</div>
</div>