<!-- menu -->
<div class="wrap">
	<h1 class="logo"><a href="/Html/Html/heartbeat/chart.html">HeartBeat</a></h1>
	<div class="userCnt">
		<div class="user" onclick="dropMenuShow();">
			<div class="image"><img src="../img/profile/user.png" onerror=this.src="/Html/Html/img/user.png" alt="닉네임"></div>
			<div class="name">닉네임최대여덟자</div>
		</div>
		<div class="dropMenu">
			<button type="button" class="btn-under-02" onclick="popLogoutShow();">로그아웃</button>
		</div>
	</div>
	<div class="menuCnt">
		<ul>
			<li class="item"><a href="/Html/Html/heartbeat/chart.html"><i class="fa-brands fa-spotify"></i>차트</a></li>
			<li class="item"><a href="/Html/Html/heartbeat/playlist.html"><i class="fa-solid fa-icons"></i>플레이리스트</a></li>
			<li class="item"><a href="/Html/Html/community/community.html"><i class="fa-solid fa-comment"></i>커뮤니티</a></li>
			<li class="item"><a href="/Html/Html/heartbeat/membership.html"><i class="fa-solid fa-credit-card"></i>멤버십</a></li>
			<li class="item"><a href="/Html/Html/heartbeat/mypage.html"><i class="fa-solid fa-user-pen"></i>마이페이지</a></li>
		</ul>
	</div>
</div>